/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Navbar
/* 3. Loading
/* 4. Container
/* 5. State Select
/* 6. Status
/* 7. Data Box
/* 8. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/
[data-theme="light"] {
    --clr-backgraud:#C5C5C5;
    --clr-font:#333333;
    --clr-text:#959493;
    --clr-card:#3A802E;
    --clr-switch-track:#ece2e2;
    --clr-link:#333333;
    --clr-icon:#ffffff;
    --clr-circol:linear-gradient(#3A802E, transparent), linear-gradient(200deg, #2c5525, #000000);
    --clr-ceta:linear-gradient(to top,rgb(0, 255, 0),rgb(0, 0, 0)); 

	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.5s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}

[data-theme="dark"] {
	--clr-backgraud:#111111;
	--clr-font:#3b8f2c;
    --clr-text:#959493;
    --clr-card:#000000;
    --clr-switch-track:#949494;
    --clr-link:#3b8f2c;
    --clr-icon:#111111;
    --clr-circol:linear-gradient(#000000, transparent), linear-gradient(200deg, #2c5525, #3A802E);
    --clr-ceta:linear-gradient(to top,rgb(0, 0, 0), rgb(0, 255, 0)); 

	--ff: "Arial", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.5s linear;
    --shadow-card: 5px 5px 30px 0 rgba(221, 221, 221, 5%);
}
/**********************************/
/* 1. Estilos gerais
/**********************************/
html{
    font-size: 62.5;
    font-family: var(--ff);
    color: var(--clr-font);
    transition: var(--transition);
}

body{
    background-color: var(--clr-backgraud);
    transition: var(--transition);
    margin: 0;
    padding: 0;
}

li{
    font-size: var(--ts-normal-semibold);
    display: contents;
}

a{
    color: var(--clr-font);
    transition: var(--transition);
    text-decoration: none;
}

/**********************************/
/* 2. Navbar
/**********************************/

.navbar{
    background-color: var(--clr-card);
    transition: var(--transition);
    min-height: 2em;
    padding: auto;
    box-shadow: var(--shadow-card);
    display: flex;
    justify-content:right;
    align-items: center;
    position: relative;
    width: 100%;
}

.navbar_midia{
    fill: var(--clr-font);
    cursor: pointer;
    transition: var(--transition);
    left: 20px;
}
#github{
    margin-left: 10rem;
}
#zap{
    margin-right: 20rem;
}
.navbar_midia:hover{
    filter: brightness(70%);
    padding: 1rem;
}

.navbar_pag{
    padding: 1rem;
}

.navbar_pag:hover{
    filter: brightness(50%);
    padding: 1.5rem;
}

.logo{
    fill: var(--clr-font);
    transition: var(--transition);
    position: absolute;
    padding: auto;
    left: 300px;
    cursor: pointer;
}

.logo:hover{
    fill-opacity: 80%;
}

.switch{
    font-size: 1.5rem;
    display:flex;
    position: absolute;
    padding: 1rem;
    align-items: center;
    top: 8px;
    right: 60px;
}
.icones{
    font-size: 0.5rem;
}
.switch__track{
    background-color: var(--clr-switch-track);
    display: flex;
    height: 1rem;
    width: 2rem;
    cursor: pointer;
    margin: 0 .2rem;
    border-radius: 1rem;
    align-items: center;
}

.switch__track::before{
    content: "";
    background-color: var(--clr-font);
    transition: var(--transition);
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    position: relative;
    left: 0;
}

.switch__track--darck::before{
    left: 1rem;
}

@media (max-width: 1650px) {
    .navbar{
        margin: -0.5%;
    }
    
    #github{
        margin-left: 5rem;
    }
    #zap{
        margin-right: 15rem;
    }
    
    .navbar_pag{
        padding: 0.5rem;
    }
    
    
    .logo{
        left: 200px;
    }

    .switch{
        font-size: 1.5rem;
        top: 4px;
        right: 70px;
    }
    
    .switch__track{
        height: 1.3rem;
        width: 2.3rem;
    }
    
    .switch__track::before{
        height: 1.3rem;
        width: 1.3rem;
    }
    
    .switch__track--darck::before{
        left: 1rem;
    }
}/* Laptops Grandes: */
@media (max-width: 1281px) {
    .navbar{
        margin: -0.6%;
    }
    .navbar_midia{
        height: 40px;
    }
    .navbar_midia:hover{
        filter: brightness(70%);
        padding: 0.8rem;
    }
    .menores{
        height: 50px;
    }
    #github{
        margin-left: 2rem;
    }
    #zap{
        margin-right: 9rem;
    }
    
    .navbar_pag{
        padding: 0.5rem;
    }

    .navbar_pag:hover{
        filter: brightness(50%);
        padding: 1.3rem;
    }
    
    .logo{
        left: 150px;
    }

    .switch{
        font-size: 1.3rem;
        top: 0.4px;
        right: 30px;
    }
    
    .switch__track{
        height: 1rem;
        width: 2rem;
    }
    
    .switch__track::before{
        height: 1rem;
        width: 1rem;
    }
    
    .switch__track--darck::before{
        left: 1rem;
    }
}/* Laptops Médios */
@media (max-width: 1025px) {
    .navbar{
        margin: -1%;
    }
    .navbar_midia{
        height: 30px;
    }
    .navbar_midia:hover{
        filter: brightness(70%);
        padding: 0.6rem;
    }
    .menores{
        height: 40px;
    }
    #github{
        margin-left: 1rem;
    }
    .navbar_pag{
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    
    .navbar_pag:hover{
        filter: brightness(50%);
        padding: 1rem;
    }
    
    .logo{
        left: 150px;
        height: 40px;
    }

    .switch{
        font-size: 1rem;
        top: -5px;
    }
    
    .switch__track{
        height: 1rem;
        width: 2rem;
    }
    
    .switch__track::before{
        height: 1rem;
        width: 1rem;
    }
    
    .switch__track--darck::before{
        left: 1rem;
    }
}/* Laptops Pequenos e Tablets Grandes */
@media (max-width: 801px) {
    .navbar{
        margin: -1%;
    }
    .navbar_midia{
        height: 25px;
    }
    .navbar_midia:hover{
        filter: brightness(70%);
        padding: 0.6rem;
    }
    .menores{
        height: 30px;
    }
    #github{
        margin-left: 0.5rem;
    }
    #zap{
        margin-right: 6rem;
    }
    .navbar_pag{
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    
    
    .logo{
        left: 100px;
        height: 30px;
    }

    .switch{
        font-size: 1rem;
        top: -5px;
    }
    
    .switch__track{
        height: 1rem;
        width: 2rem;
    }
    
    .switch__track::before{
        height: 1rem;
        width: 1rem;
    }
    
    .switch__track--darck::before{
        left: 1rem;
    }
}/*Tablets Médios*/
@media (max-width: 600px) {
    .navbar{
        margin: -1.5%;
    }
    .navbar_midia{
        height: 25px;
    }
    .navbar_midia:hover{
        filter: brightness(70%);
        padding: 0.4rem;
    }
    .menores{
        height: 30px;
    }
    #github{
        margin-left: -0.2rem;
    }
    #zap{
        margin-right: 7rem;
    }
    .navbar_pag{
        padding: 0.5rem;
        font-size: 0.6rem;
    }
    
    .logo{
        left: 50px;
        height: 30px;
    }

}/*Tablets Pequenos e Smartphones Grandes*/
@media (max-width: 481px) {
    .navbar{
        margin: -2.5%;
        min-height: 0.5rem;
    }
    .navbar_midia{
        height: 14px;
    }
    .navbar_midia:hover{
        filter: brightness(70%);
        padding: 0.2rem;
    }
    .menores{
        height: 18px;
    }
    #github{
        margin-left: -0.1px;
    }
    #zap{
        margin-right: 4rem;
    }
    .navbar_pag{
        padding: 0.2rem;
        font-size: 0.5rem;
    }
    .navbar_pag:hover{
        filter: brightness(50%);
        padding: 0.5rem;
    }
    .logo{
        left: 20px;
        height: 20px;
    }
    .switch{
        font-size: 0.5rem;
        top: -5px;
    }
    
    .switch__track{
        height: 0.5rem;
        width: 1rem;
    }
    
    .switch__track::before{
        height: 0.5rem;
        width: 0.5rem;
    }
    
    .switch__track--darck::before{
        left: 0.5rem;
    }

}/*Smartphones Médios*/
@media (max-width: 320px) {
    .navbar{
        margin: -2.5%;
        min-height: 0.2rem;
    }
    .navbar_midia{
        height: 11px;
    }
    .navbar_midia:hover{
        filter: brightness(70%);
        padding: 0.1rem;
    }
    .menores{
        height: 13px;
    }
    #github{
        margin-left: 0.01px;
    }
    #zap{
        margin-right: 4rem;
    }
    .navbar_pag{
        padding: 0.1rem;
        font-size: 0.4rem;
    }
    .navbar_pag:hover{
        filter: brightness(50%);
        padding: 0.5rem;
    }
    .logo{
        left: 10px;
        height: 13px;
    }
    .switch{
        font-size: 0.5rem;
        top: -12px;
        right: -10px;
    }
    
    .switch__track{
        height: 0.5rem;
        width: 1rem;
    }
    
    .switch__track::before{
        height: 0.5rem;
        width: 0.5rem;
    }
    
    .switch__track--darck::before{
        left: 0.5rem;
    }

}/*Smartphones Pequenos*/
/**********************************/
/* 3. Loading
/**********************************/

/**********************************/
/* 4. Container
/**********************************/

/**********************************/
/* 5. State Select
/**********************************/

/**********************************/
/* 6. Descrição
/**********************************/

/**********************************/
/* 7. Data Box
/**********************************/


/**********************************/
/* 8. Footer
/**********************************/
.footer{
    content: "";
    display: block;
    position:absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
}

.footer::before{
    content: "";
    background: var(--clr-circol);
    transition: var(--transition);
    display: block;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position:absolute;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.footer_ceta .nav_clink{
    position: relative;
    display: flex;
    padding-top: 0;
    margin: 0;
    margin-top: -120%;
    font-size: 3rem;
    transition: var(--transition);
    background: var(--clr-ceta);
    -webkit-background-clip: text; 
    color: transparent;
    z-index: 1;
    transition: var(--transition);
    transform: translate(585%, -150%);
}

.footer_ceta:hover .nav_clink{ 
    animation: subirDescer 1s infinite;;
}

@keyframes subirDescer { 
0% { transform: translate(585%, -180%);; background: linear-gradient(to top,rgb(0, 0, 0), rgb(0, 255, 0));-webkit-background-clip: text;color: transparent;} 
50% { transform: translate(585%, -150%);; background:  linear-gradient(to top,rgb(0, 255, 0), rgb(0, 0, 0)); -webkit-background-clip: text;color: transparent;} 
100% { transform: translate(585%, -180%);; background:  linear-gradient(to top,rgb(0, 0, 0), rgb(0, 255, 0)); -webkit-background-clip: text;color: transparent;}}
footer{
    font: var(--ts-normal-semibold);
    box-shadow: var(--shadow-card);
    display: flex;
    max-height: 2rem;
    padding: 50px 25px;
    left: -20px;
    font-size: 1.3rem;
}
.nav_footer{
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_footer .nav_felement{
    list-style: none;
    margin: 0 40px;
}
.nav_footer .nav_felement .fa{
    font-size: 30px;
    color: var(--clr-font);
    line-height: 50px;
    transition: var(--transition);
}
.nav_footer .nav_felement .nav_flink{
    position: relative;
    margin: 1.3rem;
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--clr-backgraud);
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
}
.nav_footer .nav_felement .nav_flink::before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background-color:var(--clr-font);
    transition: var(--transition);
    transform: rotate(0deg) skewY(-45deg);
}
.nav_footer .nav_felement .nav_flink::after{
    content: "";
    position: absolute;
    top: 50px;
    left: -11px;
    height: 20px;
    width: 100%;
    background-color:var(--clr-font);
    transition: var(--transition);
    transform: rotate(0deg) skew(-45deg);
}
.nav_footer .nav_felement .nav_flink:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow: var(--shadow-card);
}
.nav_footer .nav_felement:hover .fa{
    color: var(--clr-icon);
}
.nav_footer .nav_felement:hover:nth-child(1) .nav_flink{
    background: linear-gradient(#3A802E, transparent), linear-gradient(200deg, #2c5525, #111111);
}
.nav_footer .nav_felement:hover:nth-child(1) .nav_flink::before{
    background: linear-gradient(#3A802E, transparent), linear-gradient(200deg, #2c5525, #111111);
}
.nav_footer .nav_felement:hover:nth-child(1) .nav_flink::after{
    background: #111111;
}
.nav_footer .nav_felement:hover:nth-child(2) .nav_flink{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000);
}
.nav_footer .nav_felement:hover:nth-child(2) .nav_flink::before{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000);
}
.nav_footer .nav_felement:hover:nth-child(2) .nav_flink::after{
    background: #ff0000;
}
.nav_footer .nav_felement:hover:nth-child(3) .nav_flink{
    background: linear-gradient(#0283CB, transparent), linear-gradient(200deg, #0283CB, #ffffff);
}
.nav_footer .nav_felement:hover:nth-child(3) .nav_flink::before{
    background: linear-gradient(#0283CB, transparent), linear-gradient(200deg, #0283CB, #ffffff);
}
.nav_footer .nav_felement:hover:nth-child(3) .nav_flink::after{
    background: #a5a5a5;
}
.nav_footer .nav_felement:hover:nth-child(4) .nav_flink{
    background: linear-gradient(#3FD450, transparent), linear-gradient(200deg, #3FD450, #ffffff);
}
.nav_footer .nav_felement:hover:nth-child(4) .nav_flink::before{
    background: linear-gradient(#3FD450, transparent), linear-gradient(200deg, #3FD450, #ffffff);
}
.nav_footer .nav_felement:hover:nth-child(4) .nav_flink::after{
    background: #a5a5a5;
}

@media (max-width: 1650px) {
    footer{
        max-height: 2rem;
        padding: 50px 25px;
        left: -20px;
        font-size: 1rem;
    }
    .nav_footer{
        top: 50%;
        left: 70%;
        display: flex;
    }

    .nav_footer .nav_felement .fa{
        font-size: 30px;
        line-height: 50px;
    }
    .nav_footer .nav_felement .nav_flink{
        width: 50px;
        height: 50px;
        margin: 1.2rem;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    }
    .nav_footer .nav_felement .nav_flink::before{
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        transform: rotate(0deg) skewY(-45deg);
    }
    .nav_footer .nav_felement .nav_flink::after{
        top: 50px;
        left: -11px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skew(-45deg);
    }
    .nav_footer .nav_felement .nav_flink:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
        box-shadow: var(--shadow-card);
    }
}/* Laptops Grandes: */
@media (max-width: 1281px) {
    footer{
        max-height: 0.5rem;
        padding: 50px 25px;
        left: -20px;
        font-size: 1rem;
    }
    .nav_footer{
        top: 50%;
        left: 60%;
        display: flex;
    }

    .nav_footer .nav_felement .fa{
        font-size: 25px;
        line-height: 45px;
    }
    .nav_footer .nav_felement .nav_flink{
        width: 42px;
        height: 42px;
        margin: 1rem;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    }
    .nav_footer .nav_felement .nav_flink::before{
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        transform: rotate(0deg) skewY(-45deg);
    }
    .nav_footer .nav_felement .nav_flink::after{
        top: 42px;
        left: -11px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skew(-45deg);
    }
    .nav_footer .nav_felement .nav_flink:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
        box-shadow: var(--shadow-card);
    }
}/* Laptops Médios */
@media (max-width: 1025px) {
    footer{
        max-height: 0.5rem;
        padding: 50px 25px;
        left: -20px;
        font-size: 0.8rem;
    }
    .nav_footer{
        top: 50%;
        left: 60%;
        display: flex;
    }

    .nav_footer .nav_felement .fa{
        font-size: 20px;
        line-height: 40px;
    }
    .nav_footer .nav_felement .nav_flink{
        width: 34px;
        height: 34px;
        margin: 0.9rem;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    }
    .nav_footer .nav_felement .nav_flink::before{
        top: 6px;
        left: -14px;
        height: 100%;
        width: 14px;
        transform: rotate(0deg) skewY(-45deg);
    }
    .nav_footer .nav_felement .nav_flink::after{
        top: 34px;
        left: -8px;
        height: 15px;
        width: 100%;
        transform: rotate(0deg) skew(-45deg);
    }
    .nav_footer .nav_felement .nav_flink:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(15px,-15px);
    }
}/* Laptops Pequenos e Tablets Grandes */
@media (max-width: 801px) {
    footer{
        max-height: 0.2rem;
        padding: 50px 25px;
        left: -20px;
        font-size: 0.8rem;
    }
    .nav_footer{
        top: 50%;
        left: 50%;
        display: flex;
    }

    .nav_footer .nav_felement .fa{
        font-size: 15px;
        line-height: 30px;
    }
    .nav_footer .nav_felement .nav_flink{
        width: 28px;
        height: 28px;
        margin: 0.7rem;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    }
    .nav_footer .nav_felement .nav_flink::before{
        top: 5px;
        left: -12px;
        height: 100%;
        width: 12px;
        transform: rotate(0deg) skewY(-45deg);
    }
    .nav_footer .nav_felement .nav_flink::after{
        top: 28px;
        left: -6px;
        height: 10px;
        width: 100%;
        transform: rotate(0deg) skew(-45deg);
    }
    .nav_footer .nav_felement .nav_flink:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(15px,-15px);
    }
}/*Tablets Médios*/
@media (max-width: 600px) {
    footer{
        max-height: 0.2rem;
        padding: 50px 25px;
        left: -20px;
        font-size: 0.6rem;
    }
    .nav_footer{
        top: 50%;
        left: 40%;
        display: flex;
    }
    .nav_footer .nav_felement .nav_flink{
        margin: 0.7rem;
    }
}/*Tablets Pequenos e Smartphones Grandes*/
@media (max-width: 481px) {
    footer{
        max-height: 3px;
        padding: 30px 10px;
        left: -20px;
        font-size: 0.4rem;
    }
    .nav_footer{
        top: 50%;
        left: 40%;
        display: flex;
    }

    .nav_footer .nav_felement .fa{
        font-size: 10px;
        line-height: 20px;
    }
    .nav_footer .nav_felement .nav_flink{
        width: 21px;
        height: 21px;
        margin: 0.5rem;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    }
    .nav_footer .nav_felement .nav_flink::before{
        top: 0.1rem;
        left: -7.3px;
        height: 100%;
        width: 7px;
        transform: rotate(0deg) skewY(-45deg);
    }
    .nav_footer .nav_felement .nav_flink::after{
        top: 20px;
        left: -3px;
        height: 7px;
        width: 100%;
        transform: rotate(0deg) skew(-45deg);
    }
    .nav_footer .nav_felement .nav_flink:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px,-5px);
    }
}/*Smartphones Médios*/
@media (max-width: 320px) {
    footer{
        max-height: 3px;
        padding: 30px 10px;
        left: -20px;
        font-size: 0.1rem;
    }
    .nav_footer{
        top: 50%;
        left: 40%;
        display: flex;
    }

    .nav_footer .nav_felement .fa{
        font-size: 5px;
        line-height: 12px;
    }
    .nav_footer .nav_felement .nav_flink{
        width: 12px;
        height: 12px;
        transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    }
    .nav_footer .nav_felement .nav_flink::before{
        top: 0.2rem;
        left: -7.3px;
        height: 100%;
        width: 7px;
        transform: rotate(0deg) skewY(-45deg);
    }
    .nav_footer .nav_felement .nav_flink::after{
        top: 11px;
        left: -3px;
        height: 7px;
        width: 100%;
        transform: rotate(0deg) skew(-45deg);
    }
    .nav_footer .nav_felement .nav_flink:hover{
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px,-5px);
    }
}/*Smartphones Pequenos*/