/**********************************/
/* 0. Variáveis
/* 1. Estilos gerais
/* 2. Navbar
/* 3. Loading
/* 4. Container
/* 5. State Select
/* 6. Status
/* 7. Data Box
/* 8. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/
[data-theme="light"] {
    --clr-backgraud:#C5C5C5;
    --clr-font:#333333;
    --clr-text:#959493;
    --clr-card:#3A802E;
    --clr-switch-track:#ece2e2;
    --clr-link:#333333;
    --clr-icon:;


	--ff: "Cairo", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(51, 51, 51, 20%);
}

[data-theme="dark"] {
	--clr-backgraud:#6e6e6e;
	--clr-font:#3b8f2c;
    --clr-text:;
    --clr-card:#000000;
    --clr-switch-track:#949494;
    --clr-link:#3b8f2c;
    --clr-icon:;


	--ff: "Arial", sans-serif;
    --ts-caption: 600 1.8rem/1 var(--ff);
    --ts-normal-text: 400 1.6rem/1.4 var(--ff);
    --ts-normal-semibold: 600 1.6rem/1.4 var(--ff);

    --transition: all 0.2s linear;
    --shadow-card: 5px 5px 30px 0 rgba(221, 221, 221, 5%);
}
/**********************************/
/* 1. Estilos gerais
/**********************************/
html{
    font-size: 62.5;
    font-family: var(--ff);
    color: var(--clr-font);
    transition: var(--transition);
}

body{
    background-color: var(--clr-backgraud);
    transition: var(--transition);
}

li{
    font-size: var(--ts-normal-semibold);
    display: contents;
}

a{
    color: var(--clr-font);
    transition: var(--transition);
    text-decoration: none;
}

/**********************************/
/* 2. Navbar
/**********************************/

/**********************************/
/* 3. Loading
/**********************************/

/**********************************/
/* 4. Container
/**********************************/

/**********************************/
/* 5. State Select
/**********************************/

/**********************************/
/* 6. Descrição
/**********************************/

/**********************************/
/* 7. Data Box
/**********************************/


/**********************************/
/* 8. Footer
/**********************************/
